 <div >
        <p>Slides</p>
            <ul>
                <li><a href="#/addSlides/">Ajouter des slides</a></li>
                <li><a href="#/delSlides/">Supprimer des slides</a></li>
            </ul>
        <p>Charte garphique</p>
        <ul>
            <li><a href="#/replacetop/" >Remplacer Bandeau haut de l'écran de veille</a></li>
            <li><a href="#/replacebottom/">Remplacer Bandeau bas de l'écran de veille</a></li>
            <li><a href="#/replacemiddle/">Remplacer fond d'écran</a></li>
			<li><a href="#/replacetop1/">Remplacer Bandeau haut</a></li>
        </ul>
		<div  ng-if="UserService.type==1">
		<p>Utilisateurs</p>
		      <ul>
                <li><a href="#/addUsers/">Ajouter un utilisateur</a></li>
                <li><a href="#/delUsers/">Supprimer un utilisateur</a></li>
            </ul>
		</div>
		<p>Activités</p>
		<ul>
                <li><a href="#/addActivites/">Ajouter une activité</a></li>
                <li><a href="#/delActivites/">Supprimer une activité</a></li>
            </ul>
		<p>Produits</p>
			<ul>
                <li><a href="#/addProducts/">Ajouter un produit à une activité</a></li>
                <li><a href="#/delProducts/">Supprimer des produits d'une activité</a></li>
            </ul>
			
			<p>Rendez vous </p>
					<ul>
                <li><a href="#/listRDV/">Voire les rendez vous</a></li>
            </ul>
</div>